*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: #ce1212;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.amatic {
  font-family: "Amatic SC", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  display: none;
}

/* 
=======================================================
                  Start Header - NavBar
=======================================================
*/

header {
  background-color: red;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

header .container {
  position: relative;
  width: 90%;
  background-color: #fff;
  padding: 2%;
  margin: auto;
}

header .container nav {
  display: flex;
  justify-content: space-between;
}

header .container nav .logo a {
  font-size: 30px;
  font-weight: 700;
  color: rgb(33, 37, 41);
}

header .container nav .logo a::after {
  content: ".";
  font-size: 30px;
  color: rgb(206, 18, 18);
}

header .container nav label.open-menu {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  padding: 1% 2%;
  cursor: pointer;
}

header .container nav .nav-links li.x-mark label.close-menu {
  position: relative;
  top: 0;
  left: 90%;
  color: #7f7f90;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

header .container nav .nav-links li.x-mark:hover label.close-menu {
  color: #000;
}

header .container nav label > i {
  font-size: 25px;
  font-weight: 900;
}

header .container nav input:checked ~ .nav-links {
  right: 0;
}

header .container nav input:checked ~ .overlay {
  /* background-color: rgba(0, 0, 0, 0.4); */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9;
}

header .container nav .nav-links {
  position: absolute;
  right: -100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100vh;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  transition: 0.75s ease-in-out;
  z-index: 10;
}

header .container nav .nav-links li {
  padding: 15px 25px;
}

body:not(body:has(:target)) header .container nav .nav-links li a[href="#home"],
body:has(.home:target) header .container nav .nav-links li a[href="#home"],
body:has(.chefs:target) header .container nav .nav-links li a[href="#chefs"],
body:has(.gallery:target)
  header
  .container
  nav
  .nav-links
  li
  a[href="#gallery"],
body:has(.contact:target)
  header
  .container
  nav
  .nav-links
  li
  a[href="#contact"] {
  color: #000;
}

header .container nav .nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 600;
  color: #7f7f90;
  transition: all 0.5s ease-in-out;
  padding: 2% 0;
}

header .container nav .nav-links li:hover a {
  color: #000;
}

header .container nav .dark-mode {
  display: flex;
  align-items: center;
  position: relative;
  right: 15%;
}

header .container nav .dark-mode label.sun {
  display: none;
}

header .container nav .dark-mode input:checked ~ label.sun {
  display: block;
}
header .container nav .dark-mode input:checked ~ label.moon {
  display: none;
}

header .container nav .dark-mode label {
  position: absolute;
}

/* 
=======================================================
                  End Header - NavBar
=======================================================
*/
