*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: #ce1212;
  /* Navigation Bar */
  --logo-color: #212529;
  --icon-color: #000;
  --nav-background-color: #fff;
  --nav-hover-color: #000;

  --header-content: #eee;
  --title-content: #37373f;
  --par-content: #37373f;
  --hover-light: #e61414;

  --chef-bcg: #fff;

  --meal-bcg-light: #fff;

  --par-pure: #ddd;
  --white-pure: #fff;
  --black-pure: #000;
  --white-color: #fff;
  --black-color: #000;
  --selection-bcg: #dd5959;
  --selection-color: #fff;
  --drop-shadow: #000;
}

:root:has(#mode:checked) {
  --main-color: #c17e1f;

  --logo-color: #fff;
  --icon-color: #fff;
  --title-content: #fff;
  --logo-color: #fff;
  --header-content: #252525;
  --par-content: #9f9f9f;
  --nav-background-color: #171717;
  --hover-light: #d78c23;
  --chef-bcg: #161616;

  --selection-bcg: #916220;
  --selection-color: #202020;

  --black-color: #fff;
  --white-color: #000;
}


body {
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

::selection {
  background-color: var(--selection-bcg);
  color: var(--selection-color);
}

.amatic {
  font-family: "Amatic SC", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  display: none;
}

:root:not(#mode:checked) :where(body, section, header, footer) {
  transition: all 0.3s linear;
}

:root:has(#mode:checked) :where(body, section, header, footer) {
  transition: all 0.3s linear;
}

:root:has(#mode:checked) body {
  background-color: #202020;
  transition: all 0.3s linear;
}

/* 
=======================================================
                  Start NavBar - Content
=======================================================
*/

header {
  position: relative;
  overflow: hidden;
  background-color: var(--header-content);
}

/* Start Navigation */

header .container nav {
  background-color: var(--nav-background-color);
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 5px var(--header-content);
  z-index: 10;
}

header .container nav .navbar-container {
  position: relative;
  width: 100%;
  padding: 2%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header .container nav .navbar-container .logo h1 {
  padding: 0;
  margin: 0;
}

header .container nav .navbar-container .logo h1 a {
  font-size: 30px;
  font-weight: 700;
  color: var(--logo-color);
}

header .container nav .navbar-container .logo a::after {
  content: ".";
  font-size: 30px;
  color: var(--main-color);
}

header .container nav .navbar-container label {
  color: var(--icon-color);
}

header .container nav .navbar-container label.open-menu {
  cursor: pointer;
}

header .container nav .navbar-container .nav-links li.x-mark label.close-menu {
  position: relative;
  top: 0;
  left: 90%;
  color: #7f7f90;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

header
  .container
  nav
  .navbar-container
  .nav-links
  li.x-mark:hover
  label.close-menu {
  color: var(--main-color);
}

header .container nav .navbar-container label > i {
  font-size: 25px;
  font-weight: 900;
}

:root:has(#menu:checked) .nav-links {
  right: 0;
}

:root:has(#menu:checked) .overlay {
  height: 100%;
  width: 100%;
  position: fixed;
}

header .container nav .navbar-container .nav-links {
  position: absolute;
  right: -100%;
  background-color: var(--nav-background-color);
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100vh;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  transition: 0.75s ease-in-out;
  z-index: 11;
}

header .container nav .navbar-container .nav-links li {
  padding: 15px 25px;
}

body:not(body:has(:target)) header .container nav .nav-links li a[href="#home"],
body:has(.home:target) header .container nav .nav-links li a[href="#home"],
body:has(.chefs:target) header .container nav .nav-links li a[href="#chefs"],
body:has(.gallery:target)
  header
  .container
  nav
  .nav-links
  li
  a[href="#gallery"],
body:has(.contact:target)
  header
  .container
  nav
  .nav-links
  li
  a[href="#contact"] {
  color: var(--main-color);
}

header .container nav .navbar-container .nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 600;
  color: #7f7f90;
  transition: all 0.5s ease-in-out;
  padding: 2% 0;
}

header .container nav .navbar-container .nav-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
  width: 60px;
}

header .container nav .navbar-container .nav-links li:hover a {
  color: var(--main-color);
}

header .container nav .navbar-container .nav-icon .dark-mode {
  display: flex;
  align-items: center;
  color: var(--icon-color);
  font-size: 25px;
}

header .container nav .navbar-container .nav-icon .dark-mode label {
  cursor: pointer;
  position: absolute;
}

header .container nav .navbar-container .nav-icon .dark-mode label.sun {
  display: none;
}

:root:has(#mode:checked) .dark-mode label.moon {
  display: none;
}

:root:has(#mode:checked) .dark-mode label.sun {
  display: block;
}

/* End Navigation */

/* Start Content */

header .content {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

header .content .disc {
  order: 1;
  text-align: center;
}

header .content .disc h2 {
  font-size: 65px;
  font-weight: 700;
  margin: 10px 0;
  color: var(--title-content);
}

header .content .disc p {
  font-size: 16px;
  color: var(--par-content);
}

header .content .img-contain {
  padding-top: 20%;
  width: 100%;
  margin: auto;
  border-radius: 50%;
}

header .content .img-contain img:hover {
  animation: dance 1s infinite;
}

@keyframes dance {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
header .content .img-contain img {
  width: 100%;
  filter: drop-shadow(5px 5px 10px var(--drop-shadow));
}

header .content .btn-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 4% 0;
}

header .content .btn-link .table {
  padding: 3% 6%;
  border-radius: 20px;
  border-top-left-radius: 0;
  background-color: var(--main-color);
  transition: background-color 0.5s linear;
}

header .content .btn-link .table:hover {
  background-color: var(--hover-light);
}

header .content .btn-link .table a {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
}

header .content .btn-link .watch-video {
  margin: 4% 0;
}

header .content .btn-link .watch-video a {
  transition: color 0.3s linear;
  color: var(--black-color);
  font-weight: 600;
}

header .content .btn-link .watch-video:hover a {
  color: var(--main-color);
}

header .content .btn-link .watch-video .linear-gradient {
  display: flex;
  width: 45px;
  height: 45px;
  background-image: linear-gradient(
    to right,
    var(--main-color) 0 50%,
    transparent 50% 100%
  );
  border-radius: 50%;
  z-index: 0;
}

header .content .btn-link .watch-video .linear-gradient i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  position: relative;
  height: 35px;
  background-color: var(--white-color);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

header .content .btn-link .watch-video a .word {
  align-self: center;
}
header .content .btn-link .watch-video a {
  display: flex;
}
/* 
=======================================================
                  End NavBar - Content
=======================================================
*/

/* 
=======================================================
                    Start Chefs
=======================================================
*/

.chefs .container {
  padding: 5% 0;
  text-align: center;
}

.chefs .container .title {
  text-align: center;
}

.chefs .container .title h2 {
  font-size: 14px;
  font-weight: 400;
  color: var(--title-content);
  text-transform: uppercase;
}

.chefs .container .title p {
  font-size: 50px;
  font-weight: 400;
  color: var(--black-color);
  margin-top: 0;
}

.chefs .container .title p > span {
  color: var(--main-color);
}

.chefs .container .chefs-pic {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.chefs .container .chefs-pic .chef {
  width: 95%;
  margin: auto;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
  overflow: hidden;
  background-color: var(--chef-bcg);
}

.chefs .container .chefs-pic .chef:hover {
  transform: scale(1.04);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.chefs .container .chefs-pic .chef .pic{
  position: relative;
}

.chefs .container .chefs-pic .chef .pic::after {
  content: "";
  background-image: url(../images/chefs/team-shape.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

:root:has(#mode:checked) .chefs .container .chefs-pic .chef .pic::after {
  background-image: url(../images/chefs/team-shape-dark.svg);
}

.chefs .container .chefs-pic .chef .pic img {
  width: 100%;
  
}

.chefs .container .chefs-pic .chef .pic .social-icon {
  position: absolute;
  top: 8%;
  right: -20%;
  display: flex;
  flex-direction: column;
  background-color: #e0d6d0;
  padding: 2%;
  border-radius: 8px;
  transition: right 0.5s 0.2s linear;
}

.chefs .container .chefs-pic .chef:hover .pic .social-icon {
  right: 2%;
}

.chefs .container .chefs-pic .chef .pic .social-icon a {
  padding: 6px;
  font-size: 18px;
  font-weight: 400;
  color: #37373f66;
  transition: color 0.3s linear;
}

.chefs .container .chefs-pic .chef .pic .social-icon a:hover {
  color: #37373f;
}

.chefs .container .chefs-pic .chef .disc {
  width: 90%;
  padding: 8% 0 3%;
  margin: auto;
  position: relative;
  z-index: 1;
}

.chefs .container .chefs-pic .chef .disc h3 {
  color: var(--black-color);
  /* margin-top: 10%; */
  margin-bottom: 0;
  font-size: 18px;
}
.chefs .container .chefs-pic .chef .disc span {
  color: var(--par-content);
  font-size: 14px;
  margin: 50% 0;
}
.chefs .container .chefs-pic .chef .disc p {
  color: var(--par-content);
  font-size: 15px;
  margin: 2% 0;
}

/* 
=======================================================
                    End Chefs
=======================================================
*/

/* 
=======================================================
                    Start Gallery
=======================================================
*/

.gallery {
  background-color: var(--header-content);
}

.gallery .container {
  width: 95%;
  margin: auto;
  padding: 5% 0;
  text-align: center;
}

.gallery .container .title {
  text-align: center;
}

.gallery .container .title h2 {
  font-size: 14px;
  font-weight: 400;
  color: var(--title-content);
  text-transform: uppercase;
}

.gallery .container .title p {
  font-size: 50px;
  font-weight: 400;
  color: var(--black-color);
  margin-top: 0;
}

.gallery .container .title p > span {
  color: var(--main-color);
}

.gallery .container .meals {
  /* display: grid;
  gap: 10px; */
  column-count: 1;
  column-gap: 30px;
}

.gallery .container .meals .meal {
  position: relative;
  background-color: var(--meal-bcg-light);
  font-size: 0;
  overflow: hidden;
  border: 4px solid var(--white-pure);

  margin-bottom: 10px;
}

.gallery .container .meals .meal img {
  width: 100%;
  transition: transform 0.3s linear;
  margin: auto;
}

.gallery .container .meals .meal:hover img {
  transform: scale(1.1);
}

.gallery .container .meals .meal .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  overflow: hidden;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.4);
  transition: transform 0.3s linear;
}

.gallery .container .meals .meal:hover .overlay {
  transform: translateY(0);
}

.gallery .container .meals .meal .overlay .meal-title h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--white-pure);
  margin-bottom: 5px;
}

.gallery .container .meals .meal .overlay .meal-title p {
  font-size: 16px;
  font-weight: 400;
  color: var(--par-pure);
  margin-top: 0;
}

/* 
=======================================================
                    End Gallery
=======================================================
*/
