*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: #ce1212;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.amatic {
  font-family: "Amatic SC", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  display: none;
}

/* 
=======================================================
                  Start NavBar - Content
=======================================================
*/

header {
  /* background-color: red; */
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Start Navigation */

header .container nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 5px #ccc;
}

header .container nav .navbar-container {
  position: relative;
  width: 100%;
  padding: 2%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header .container nav .navbar-container .logo h1 {
  padding: 0;
  margin: 0;
}

header .container nav .navbar-container .logo h1 a {
  font-size: 30px;
  font-weight: 700;
  color: rgb(33, 37, 41);
}

header .container nav .navbar-container .logo a::after {
  content: ".";
  font-size: 30px;
  color: rgb(206, 18, 18);
}

header .container nav .navbar-container label.open-menu {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  padding: 1% 2%;
  cursor: pointer;
}

header .container nav .navbar-container .nav-links li.x-mark label.close-menu {
  position: relative;
  top: 0;
  left: 90%;
  color: #7f7f90;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

header
  .container
  nav
  .navbar-container
  .nav-links
  li.x-mark:hover
  label.close-menu {
  color: #000;
}

header .container nav .navbar-container label > i {
  font-size: 25px;
  font-weight: 900;
}

header .container nav .navbar-container input:checked ~ .nav-links {
  right: 0;
}

header .container nav .navbar-container input:checked ~ .overlay {
  /* background-color: rgba(0, 0, 0, 0.4); */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9;
}

header .container nav .navbar-container .nav-links {
  position: absolute;
  right: -100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100vh;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  transition: 0.75s ease-in-out;
  z-index: 10;
}

header .container nav .navbar-container .nav-links li {
  padding: 15px 25px;
}

body:not(body:has(:target)) header .container nav .nav-links li a[href="#home"],
body:has(.home:target) header .container nav .nav-links li a[href="#home"],
body:has(.chefs:target) header .container nav .nav-links li a[href="#chefs"],
body:has(.gallery:target)
  header
  .container
  nav
  .nav-links
  li
  a[href="#gallery"],
body:has(.contact:target)
  header
  .container
  nav
  .nav-links
  li
  a[href="#contact"] {
  color: #000;
}

header .container nav .navbar-container .nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 600;
  color: #7f7f90;
  transition: all 0.5s ease-in-out;
  padding: 2% 0;
}

header .container nav .navbar-container .nav-links li:hover a {
  color: #000;
}

header .container nav .navbar-container .dark-mode {
  display: flex;
  align-items: center;
  position: relative;
  right: 15%;
}

header .container nav .navbar-container .dark-mode label {
  cursor: pointer;
}

header .container nav .navbar-container .dark-mode label.sun {
  display: none;
}

header .container nav .navbar-container .dark-mode input:checked ~ label.sun {
  display: block;
}
header .container nav .navbar-container .dark-mode input:checked ~ label.moon {
  display: none;
}

header .container nav .navbar-container .dark-mode label {
  position: absolute;
}

/* End Navigation */

/* Start Content */

header .content {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .content .disc {
  order: 1;
  text-align: center;
}

header .content .disc h2 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 0;
}

header .content .disc p {
  font-size: 16px;
  color: #37373f;
}

header .content .img-contain {
  width: 80%;
  margin: auto;
  transform: translateY(25%);
  margin-bottom: 8%;
  /* background-color: red; */
}

header .content .img-contain img {
  width: 100%;
}

header .content .btn-link .watch-video a {
  transition: color 0.3s ease-in-out;
  color: #000;
  font-weight: 600;
}

header .content .btn-link .watch-video:hover a {
  color: var(--main-color);
}

header .content .btn-link .watch-video .linear-gradient {
  display: flex;
  width: 45px;
  height: 45px;
  background-image: linear-gradient(
    to right,
    var(--main-color) 0 50%,
    transparent 50% 100%
  );
  border-radius: 50%;
}

header .content .btn-link .watch-video .linear-gradient i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  position: relative;
  height: 35px;
  background-color: #ccc;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .content .btn-link .watch-video a .word {
  align-self: center;
}
header .content .btn-link .watch-video a {
  display: flex;
}

header .content .btn-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .content .btn-link .table {
  border: 1px solid var(--main-color);
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--main-color);
  
}

header .content .btn-link .table a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
/* 
=======================================================
                  End NavBar - Content
=======================================================
*/
