/* 
=======================================================
                  Start Header - NavBar
=======================================================
*/

/* Start Navigation Bar */

@media (min-width: 595px) and (max-width: 767px) {
  nav .container {
    width: 80%;
    margin: auto;
  }

  nav .container .nav-links {
    width: 50%;
  }


}

@media (max-width: 767px) {
  header .content {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  nav {
    padding: 3% 3%;
  }

  nav .container {
    width: 80%;
    margin: auto;
  }

  nav .container .nav-links {
    width: 40%;
  }

  header .content {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 992px) {
  nav {
    padding: 3% 3%;
  }

  nav .container .nav-links {
    width: 30%;
  }

  header .content {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 130px;
  }

  header .content .disc {
    text-align: left;
    width: 45%;
  }

  header .content .img-contain {
    order: 1;
    padding-top: 0;
    width: 40%;
  }

  header .content .disc,
  header .content .img-contain {
    padding: 7% 2% 0;
  }

  header .content .btn-link {
    width: 75%;
    padding-top: 3%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  nav{
    padding: 0;
  }

  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 90%;
    margin: auto; */
    padding: 2% 3%;
  }

  nav .container .logo {
    order: -1;
  }


  nav .container .nav-links {
    position: static;
    right: 0%;
    left: 0;
    display: flex;
    width: auto;
    height: auto;
    box-shadow: none;
    background-color: transparent;
    order: -1;
  }

  nav .container .nav-links li {
    padding: 10px 15px;
  }

  nav .container .nav-icon .dark-mode {
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: var(--icon-color);
    font-size: 25px;
  }

  nav .container .overlay {
    display: none;
  }

  nav .container label.open-menu,
  nav .container .nav-links li.x-mark label.close-menu {
    display: none;
  }

  header .content {
    height: 100vh;
    width: 80%;
  }

  header .content .btn-link {
    justify-content: flex-start;
    gap: 20px;
    width: 90%;
  }
}

/* 
=======================================================
                  End Header - NavBar
=======================================================
*/

/* 
=======================================================
                      Start Chefs
=======================================================
*/

@media (min-width: 595px) {
  .chefs .container {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 767px) {
  .chefs .container {
    width: 90%;
    margin: auto;
  }

  .chefs .container .chefs-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .chefs .container .chefs-pic .chef {
    width: 48%;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .chefs .container {
    width: 95%;
    margin: auto;
  }
  .chefs .container .chefs-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0;
  }
  .chefs .container .chefs-pic .chef {
    width: calc(( 100% - 60px) / 3);
    /* margin-left: auto; */
    margin: 0 10px;
  }
}

@media (min-width: 1200px) {
  .chefs .container {
    width: 95%;
    margin: auto;
  }
  .chefs .container .chefs-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .chefs .container .chefs-pic .chef {
    width: calc((100% - 60px) / 3);
    margin-left: auto;
    margin: 0 10px;
  }
}

/* 
=======================================================
                      End Chefs
=======================================================
*/

/* 
=======================================================
                    Start Gallery
=======================================================
*/

@media (min-width: 592px) {
  .gallery .container {
    width: 80%;
  }
}

@media (min-width: 767px) {
  .gallery .container {
    width: 90%;
  }

  .gallery .container .meals {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .gallery .container {
    width: 95%;
  }

  .gallery .container .meals {
    column-count: 3;
    /* flex-wrap: wrap; */
    /* grid-template-columns:  repeat(2, auto); */
  }

  .levitation-pizza {
    order: -1;
  }
}

@media (min-width: 1200px) {
  .gallery .container {
    width: 95%;
  }
}

/* 
=======================================================
                    End Gallery
=======================================================
*/

/* 
=======================================================
                      Start Contact-US
=======================================================
*/

@media (min-width: 592px) {
  .contact .container {
    width: 80%;
  }
}

@media (min-width: 767px) {
  .contact .container {
    width: 90%;
  }

  .contact .container ul.contact-info {
    display: flex;
    flex-wrap: wrap;
  }
  .contact .container ul.contact-info li {
    width: calc((100% - 10px) / 2);
    margin-bottom: 1%;
    padding: 10px;
  }

  .contact .container ul.contact-info li:nth-child(odd) {
    margin-right: 10px;
  }
}

@media (min-width: 992px) {
  .contact .container form {
    padding: 2%;
  }
  .contact .container form > div {
    display: flex;
    justify-content: space-between;
  }

  .contact .container form > div input {
    width: calc((100% - 10px) / 2);
  }
}

@media (min-width: 1200px) {
  .contact .container {
    width: 95%;
  }
}

/* 
=======================================================
                      End Contact-US
=======================================================
*/
