/* 
=======================================================
                  Start Header - NavBar
=======================================================
*/

/* Start Navigation Bar */

@media (min-width: 992px) {
  header .container nav .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1%;
  }

  header .container nav .navbar-container .nav-links {
    position: static;
    right: 0%;
    left: 0;
    display: flex;
    width: auto;
    height: auto;
    box-shadow: none;
  }

  header .container nav .navbar-container .overlay {
    display: none;
  }

  header .container nav .navbar-container .nav-links li {
    padding: 10px 15px;
  }

  header .container nav .navbar-container label.open-menu,
  header .container nav .nav-links li.x-mark label.close-menu {
    display: none;
  }

  header .container nav .navbar-container .dark-mode {
    position: static;
  }
}

/* End Navigation Bar */

/* 
=======================================================
                  End Header - NavBar
=======================================================
*/
